@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Roboto+Mono:wght@100;700&display=swap');

body {
    background-color: black;
}

.text {
    color: white;
}

/* 
.photo-f1 {
    
    width: 42px;
    height: 42px;
    
} */

.photo-f1 img {
    height: auto;
    width: 50%;
    vertical-align: center;
}