@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Roboto+Mono:wght@100;700&display=swap');

body {
    background-color: black;
    font-family: 'Libre Baskerville', sans-serif;
}

.text, .more-text {
    color: white;
    text-align: center;
}

.text h1 {
    font-size: 4em;
    margin-bottom: 10px;
}

hr {
    width: 50%;
    margin: 0 auto;
    border: 1px solid white;
}

.photo-f1 {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-f1 img {
    height: auto;
    width: 50%;
    display: inline-block;
    border: 5px solid white;
}