@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;700&display=swap");

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", sans-serif;
  background-color: #ecf9ff;
  margin: 0px;
}

.intro {
  height: 500px;
  text-align: center;
  color: #f8cba6;
  background-color: #ffe7cc;
  /* background-image: url("https://www.svgrepo.com/show/484314/mountain.svg"); */
  /* background-position: center, 50%; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

.under {
  text-decoration: underline; 
}

.img1 {
  position: absolute;
  /* bottom: 80px;
  right: 75px; */

}

#small-text {
  color: #645cbb;
  margin: 0;
}

#name {
  margin-bottom: 1px;
  margin-top: 0px;
}
