@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;700&display=swap");

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", sans-serif;
  background-color: #ecf9ff;
  margin: 0px;
}

.intro {
  height: 750px;
  text-align: center;
  color: #f8cba6;
  background-color: #ffe7cc;
  /* background-image: url("https://www.svgrepo.com/show/484314/mountain.svg"); */
  /* background-position: center, 50%; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

.under {
  text-decoration: underline; 
}


.mountains-img {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;  
}

.sun-clouds {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.sun {
  /* position: absolute; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* top: 250px; */
  width: 115px;
  align-self: flex-end;
}

.cloud-1 {
  /* position: absolute; */
  /* left: 175px; */
  width: 150px;
  
}

.cloud-2 {
  /* position: absolute; */
  height: auto;
  width: 100px;
  /* right: 150px;
  top: 110px; */
}

.cloud-3 {
  /* position: absolute; */
  height: auto;
  width: 85px;
  /* right: 380px;
  top: 160px; */
}

#small-text {
  color: #645cbb;
  margin: 0;
}

#name {
  margin-bottom: 1px;
  margin-top: 0px;
  padding-top: 50px;
}

.info {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

.about-me {
  font-size: 24px;
  width: 40%;
}

.about-me-2 {
  font-size: 24px;
  width: 40%;
}
