/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;700&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Roboto+Mono:wght@100;700&display=swap');

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #ecf9ff;
  margin: 0px;
}

.top-container {
  height: 750px;
  text-align: center;
  color: #f8cba6;
  background-color: #ffe7cc;
}


.under {
  text-decoration: underline; 
}


.mountains-img {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;  
}

.sun-clouds {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.sun {
  width: 115px;
  align-self: flex-end;
}

.cloud-1 {
  /* position: absolute; */
  /* left: 175px; */
  width: 150px;
  
}

.cloud-2 {
  height: auto;
  width: 100px;
}

.cloud-3 {
  height: auto;
  width: 85px;
}

#small-text {
  color: #645cbb;
  margin: 0;
  font-size: smaller;
}

#name {
  margin-bottom: 1px;
  margin-top: 0px;
  padding-top: 50px;
  font-size: 50px;
}

#test {
  margin-top: 50px;
}

.container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50% 50%;
  margin-left: 200px;
}


.experience {
  grid-column-start: 3;
}

.skills {
  grid-column-start: 4;
}


.about-me {
  font-size: 24px;
  font-family: 'Playfair Display', sans-serif;
}


.about-me-2 {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}
